In [11]:
import pandas as pd
import numpy as np
#from google.colab import drive
#drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google'

In [12]:
data_bus= pd.read_csv('D:\\thuchanh\\data_pandas\\BusData.txt', sep="\t", header=None,names=["Data", "Address Start", "Day of week","Time Start", "Time Duration","Time Arrive"])

In [13]:
data_bus.head(20)

,Data,Address Start,Day of week,Time Start,Time Duration,Time Arrive
0,# 16.04.2018,NaN,NaN,NaN,NaN,NaN
1,U. Mon 12h05 13m55,NaN,NaN,NaN,NaN,NaN
2,H. Tue 08h36 14m19,NaN,NaN,NaN,NaN,NaN
3,U. Tue 15h05 14m14,NaN,NaN,NaN,NaN,NaN
4,H. Wed 06h41 14m48,NaN,NaN,NaN,NaN,NaN
5,U. Wed 10h12 13m04,NaN,NaN,NaN,NaN,NaN
6,H. Thu 06h40 13m19,NaN,NaN,NaN,NaN,NaN
7,U. Thu 11h19 13m04,NaN,NaN,NaN,NaN,NaN
8,H. Thu 12h56 13m04,NaN,NaN,NaN,NaN,NaN
9,H. Fri 08h45,NaN,NaN,NaN,NaN,NaN
10,U. Fri 11h57 13m19,NaN,NaN,NaN,NaN,NaN
11,H. Tue 08h46 15m32,NaN,NaN,NaN,NaN,NaN
12,H. Thu 12h58,NaN,NaN,NaN,NaN,NaN
13,H. Wed 06h41 14m24,NaN,NaN,NaN,NaN,NaN
14,U. Wed 10h25 13m06,NaN,NaN,NaN,NaN,NaN
15,H. Thu 06h43 13m20,NaN,NaN,NaN,NaN,NaN
16,H. Fri 08h23 14m03,NaN,NaN,NaN,NaN,NaN
17,U. Fri 18h25 16m53,NaN,NaN,NaN,NaN,NaN
18,H. Mon 08h27 13m42,NaN,NaN,NaN,NaN,NaN
19,H. Tue 08h50 12m25,NaN,NaN,NaN,NaN,NaN

In [14]:
data_H = data_bus['Data'].astype(str).str.startswith('H.')
data_U = data_bus['Data'].astype(str).str.startswith('U.')

In [15]:
data_clean = data_H | data_U
# print(data_H, data_U)
# print
data_clean
data = data_bus[data_clean]
data = data.reset_index(drop=True)
print(data)

                   Data  Address Start  Day of week  Time Start  \
0    U. Mon 12h05 13m55            NaN          NaN         NaN
1    H. Tue 08h36 14m19            NaN          NaN         NaN
2    U. Tue 15h05 14m14            NaN          NaN         NaN
3    H. Wed 06h41 14m48            NaN          NaN         NaN
4    U. Wed 10h12 13m04            NaN          NaN         NaN
..                  ...            ...          ...         ...
399  H. Mon. 09h48. . .            NaN          NaN         NaN
400  H. Tue. 12h26. . .            NaN          NaN         NaN
401  H. Thu. 06h40. . .            NaN          NaN         NaN
402  H. Fri. 09h30. . .            NaN          NaN         NaN
403  U. Fri. 12h06. . .            NaN          NaN         NaN

     Time Duration  Time Arrive
0              NaN          NaN
1              NaN          NaN
2              NaN          NaN
3              NaN          NaN
4              NaN          NaN
..             ...          ...
399            NaN          NaN
400            NaN          NaN
401            NaN          NaN
402            NaN          NaN
403            NaN          NaN

[404 rows x 6 columns]

In [16]:
def remove_char(x):
  # print(x)
  x = str(x)
  x = x.replace('.', '')
  return x

In [17]:
data['Address Start'] = data['Data'].astype(str).str.split(" ").str[0].apply(remove_char)
data['Day of week'] = data['Data'].astype(str).str.split(" ").str[1].apply(remove_char)
data['Time Start'] = data['Data'].astype(str).str.split(" ").str[2].apply(remove_char)
data['Time Duration'] = data['Data'].astype(str).str.split(" ").str[3].apply(remove_char)
data['Time Arrive'] = data['Data'].astype(str).str.split(" ").str[4].apply(remove_char)

data = data.drop('Data', axis=1)

data.loc[134, ['Time Start', 'Time Duration']] = "06h42", "15m55"

In [29]:
#data.loc[130:136]
data

    Address Start Day of week Time Start Time Duration Time Arrive
0               U         Mon      12h05         13m55         nan
1               H         Tue      08h36         14m19         nan
2               U         Tue      15h05         14m14         nan
3               H         Wed      06h41         14m48         nan
4               U         Wed      10h12         13m04         nan
..            ...         ...        ...           ...         ...
399             H         Mon      09h48
400             H         Tue      12h26
401             H         Thu      06h40
402             H         Fri      09h30
403             U         Fri      12h06

[404 rows x 5 columns]

In [30]:
xxx=data[data["Time Duration"].isnull()]
xxx.head(50)

Empty DataFrame
Columns: [Address Start, Day of week, Time Start, Time Duration, Time Arrive]
Index: []

In [31]:
def convert_data_time(x):
  x = str(x)
  if x != 'nan' and x!= '':
    if x.find('m') == -1:
      x = x + 'm00'
    
    if x.find('h') == -1:
      x = '00h' + x
    
    return x
  else:
    return None

In [32]:
data['Time Start'] = data['Time Start'].apply(convert_data_time)
data['Time Duration'] = data['Time Duration'].apply(convert_data_time)
data['Time Arrive'] = data['Time Arrive'].apply(convert_data_time)
print(data)

    Address Start Day of week Time Start Time Duration Time Arrive
0               U         Mon   12h05m00      00h13m55        None
1               H         Tue   08h36m00      00h14m19        None
2               U         Tue   15h05m00      00h14m14        None
3               H         Wed   06h41m00      00h14m48        None
4               U         Wed   10h12m00      00h13m04        None
..            ...         ...        ...           ...         ...
399             H         Mon   09h48m00          None        None
400             H         Tue   12h26m00          None        None
401             H         Thu   06h40m00          None        None
402             H         Fri   09h30m00          None        None
403             U         Fri   12h06m00          None        None

[404 rows x 5 columns]

In [33]:
import datetime

def convert_time_s(x):
  x = str(x)
  if x=='None':
    return None

  F1 = '%Hh%Mm%S'
  time_object1 = datetime.datetime.strptime(x, F1)
  dt1 = datetime.timedelta(hours=time_object1.hour,minutes=time_object1.minute, seconds=time_object1.second)

  return dt1.seconds

In [34]:
import math

def convert_time_str(x):

  if math.isnan(x):
    return None
  x = int(x)
  hours = int(x/3600)
  # print(hours)
  minutes = int((x%3600)/60)  
  # print(minutes)
  seconds = int((x%3600)%60)
  # print(seconds)
  time_string = str(hours) + 'h' + str(minutes) + 'm' + str(seconds)
  return time_string

In [35]:
import datetime

def cal_time(startTime, endTime, mode):
  string_start = str(startTime)
  string_end = str(endTime)
  F1 = '%Hh%Mm%S'
  time_object1 = datetime.datetime.strptime(string_start, F1)
  time_object2 = datetime.datetime.strptime(string_end, F1)
  dt1 = datetime.timedelta(hours=time_object1.hour,minutes=time_object1.minute, seconds=time_object1.second)
  dt2 = datetime.timedelta(hours=time_object2.hour,minutes=time_object2.minute, seconds=time_object2.second)

  if mode == 1:
    stringTime = str(dt1 + dt2)
  else:
    stringTime = str(dt2 - dt1)
  
  stringTime = stringTime.replace(':', 'h', 1)
  stringTime = stringTime.replace(':', 'm', 1)
  return stringTime

for i in range(len(data['Time Arrive'])):
  # print(i, data.loc[i, 'Time Arrive'])
  if data.loc[i, 'Time Arrive'] != None and data.loc[i, 'Time Start'] != None:
    data.loc[i, 'Time Duration'] = cal_time(data.loc[i, 'Time Start'], data.loc[i, 'Time Arrive'], 0)
print(data.loc[260:280, 'Time Duration'])
for i in range(len(data['Time Arrive'])):
  # print(i, data.loc[i, 'Time Arrive'])
  if data.loc[i, 'Time Arrive'] == None :
    if data.loc[i, 'Time Duration'] != None and data.loc[i, 'Time Start'] != None:
      data.loc[i, 'Time Arrive'] = cal_time(data.loc[i, 'Time Start'], data.loc[i, 'Time Duration'], 1)
print(data.loc[:20,['Time Arrive']])

260    00h13m53
261    00h13m48
262    00h13m35
263        None
264     0h16m00
265    00h12m03
266    00h12m54
267    00h14m11
268    00h12m11
269        None
270     0h18m00
271     0h13m00
272    00h13m25
273    00h13m35
274    00h12m45
275    00h13m41
276    00h17m32
277     0h13m00
278    00h13m26
279     0h17m00
280    00h13m56
Name: Time Duration, dtype: object
   Time Arrive
0     12h18m55
1      8h50m19
2     15h19m14
3      6h55m48
4     10h25m04
5      6h53m19
6     11h32m04
7     13h09m04
8         None
9     12h10m19
10     9h01m32
11        None
12     6h55m24
13    10h38m06
14     6h56m20
15     8h37m03
16    18h41m53
17     8h40m42
18     9h02m25
19    16h02m20
20     6h50m44

In [36]:
def cal_time_s(time_):
  
  # print(time_str)
  if time_ == None:
    return None
  else:
    time_str = str(time_)
    hours = int(time_str[:time_str.find('h')])
    minutes = int(time_str[time_str.find('h')+ 1:time_str.find('m')])
    seconds = int(time_str[time_str.find('m')+ 1:])
    return hours*3600 + minutes*60 + seconds

data['Time Duration'] = data['Time Duration'].apply(cal_time_s)
# data['Time Duration'].head(20)

In [37]:
data.groupby('Address Start').agg('mean')

               Time Duration
Address Start
H                 882.097744
U                 893.967033

In [38]:
data_dur = data.groupby('Day of week').agg('mean')
data_dura = data_dur['Time Duration'].apply(convert_time_str)
data_dura

Day of week
Fri    0h14m37
Mon     0h14m5
Sat    0h14m35
Sun     0h14m6
Thu    0h15m15
Tue    0h14m34
Wed    0h15m21
Name: Time Duration, dtype: object

**Giờ xuất phát và về theo các ngày trong tuần**

In [39]:
data['Temp Time Start'] = data['Time Start'].apply(convert_time_s)
data_ar = data.groupby(['Address Start', 'Day of week']).agg('mean')
data_ara = data_ar['Temp Time Start'].apply(convert_time_str)
data_ara

Address Start  Day of week
H              Fri               8h2m7
               Mon             7h49m48
               Sat              9h49m6
               Sun            10h32m15
               Thu              9h1m58
               Tue              8h7m40
               Wed             8h51m33
U              Fri             12h9m45
               Mon             12h2m13
               Sat            13h26m34
               Sun             13h40m0
               Thu            13h47m26
               Tue            12h30m40
               Wed             13h53m7
Name: Temp Time Start, dtype: object

**Giờ trung bình xuất phát và về trong ngày**

In [40]:
data_y = data.groupby('Address Start').agg('mean')
data_y['Temp Time Start'].apply(convert_time_str)

Address Start
H     8h31m14
U    12h53m32
Name: Temp Time Start, dtype: object